.form-group {
    padding: 8px 12px;
    font-size: 14px;
    color: #555;
    background-color: rgb(70, 138, 190);
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 155px;
    text-align: center;
    color: white;
    flex-direction: row;
    max-height: 300px; /* Set an appropriate maximum height */
    overflow-y: scroll;
    
    
}
.group-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 300px; /* Set an appropriate maximum height */
    overflow-y: scroll;
    margin: auto;
}

select {
    margin: 5px;
    /* Add other styling for the select elements */
}

.TopicStyles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: auto;
    text-align: center;
}

.DescriptionStyles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.PageHeading {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    max-height: 300px; /* Set an appropriate maximum height */
    overflow-y: scroll;
}

.body {
    width: 600px;
    margin: 50px auto 0;
    text-align: center;
}

.bodyText {
    text-align: center;
}

.navbar {
    margin-top: 20px;
    margin-right: 20px;
    width: 100%;
    padding: 5px 15px;
    background: rgb(0, 0, 0); /* Or any color you want */
    position: fixed; /* Fix position to the top of the page */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    z-index: 1000; /* Ensure it's above other elements */
}
